/* Основные стили страницы */
body {
    background-color: white;
    color: black;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    min-height: 3028px;
    min-width: 1100px;
}

h1 {
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Затемнение фона */
.dark-layer {
    background-color: black;
    inset: 0;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
}

/* Контакты */
.contacts-block {
    font-style: normal;
    justify-self: left;
    line-height: 1.3;
    padding-right: 56px;
}

.contacts-block__link {
    max-width: 210px;
    text-underline-offset: 17%;
    width: 100%;
}

/* Верхняя панель */
.top-header {
    align-items: center;
    background-color: white;
    display: grid;
    font-size: 18px;
    font-weight: 400;
    grid-template-columns: 1fr 130px 1fr;
    grid-template-rows: 105px;
    padding: 93px 22px 96px 19px;
}

.top-header__nav {
    justify-self: left;
}

.top-header__list {
    display: flex;
    gap: 34px;
    list-style-type: circle;
    margin-left: 33px;
    margin-top: 6px;
}

.top-header__list-item:first-of-type {
    list-style-type: none;
}

.top-header__link {
    text-decoration: underline;
    text-underline-offset: 8%;
}   

.top-header__link_current {
    text-decoration: none;
}

.top-header__logo-img {
    width: 136px;
}

.top-header__contacts {
    justify-self: right;
}

/* Главный баннер */
.hero-block {
    background-image: url('../images/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-bottom: 50px;
    position: relative;
    text-transform: uppercase;
    z-index: 0;
}

.hero-block__heading {
    display: block;
    letter-spacing: 0.3em;
    line-height: 115px;
    padding: 162px 49px 116px 53px;
    position: relative;
    z-index: 2;
}

.text-row {
    display: block;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    z-index: 2;
}

.text-row_centered {
    line-height: 100px;
    text-align: center;
}

.text-row_right {
    line-height: 100px;
    text-align: right;
}

.letter-space-wide {
     letter-spacing: 0.6em;
}

.letter-space-none {
    letter-spacing: 0em;
}

.hero-block__info {
    display: grid;
    grid-template-columns: 1fr 305px;
    grid-template-rows: 53px;
    position: relative;
    z-index: 1;
}

.hero-block__text {
    align-self: center;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 18px;
}

.btn-bid {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    margin-right: auto;
    padding: 15px 33px 13px 30px;
    text-transform: uppercase;
}

/*лоты */
.auction-lots {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 186px 26px 0px 24px;
}

.auction-lots__title {
    padding-left: 38px;
    text-transform: uppercase;
}

.auction-lots__grid {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.auction-lots__item {
    display: flex;
    flex-grow: 1;
}

.lot-link {
    display: block;
    text-decoration: none;
    width: 100%;
}

.lot-item {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 563px;
    min-width: 100%;
    object-fit: cover;
    padding: 54px 37px 48px 40px;
    position: relative;
    vertical-align: bottom;
    width: 320px;
    z-index: 0;
}

.lot-item_theme_movie {
    background-image: url('../images/card-lot-01.jpg');
}

.lot-item_theme_book {
    background-image: url('../images/card-lot-02.jpg');
}

.lot-item_theme_art {
    background-image: url('../images/card-lot-03.jpg');
}

.lot-item__heading {
    align-content: flex-start;
    align-self: flex-start;
    justify-content: space-between;
    text-decoration: underline;
    z-index: 2;
}

.lot-item__desc {
    align-content: flex-end;
    align-self: flex-end;
    display: block;
    font-size: 20px;
    justify-content: end;
    justify-self: end;
    line-height: 1.2;
    margin-top: auto;
    z-index: 2;
}

.auction-lots__more {
    font-size: 20px;
    font-weight: 400;
    padding-left: 38px;
    padding-top: 2px;
    text-decoration: underline;
    text-underline-offset: 10%;
}

/* Описание*/
.about-auction {
    background-color: white;
    display: block;
    padding: 181px 2px 0 42px;
}

.about-auction__layout {
    display: grid;
    grid-template-areas:
    'about-auction__side about-auction__header'
    '. about-auction__content';
    grid-template-columns: 300px 1fr;
    grid-template-rows: 240px 350px;
}

.about-auction__side {
    display: flex;
    grid-area: about-auction__side;
    justify-self: center;
}

.about-auction__circle {
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    justify-self: center;
    position: relative;
    width: 240px;
}

.about-auction__logo-img {
    align-self: center;
    width: 147px;
}

.about-auction__header {
    align-self: center;
    display: flex;
    grid-area: about-auction__header;
    margin-left: 40px;
}

.about-auction__content {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    gap: 26px;
    grid-area: about-auction__content;
    line-height: 1.2;
    margin: 3px 21px 0 42px;
    word-spacing: 1px;
}

/* Подвал сайта */
.bottom-footer {
    display: grid;
    font-size: 18px;
    font-weight: 400;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 148px 49px 88px 52px;
}

.bottom-footer__nav {
    justify-self: center;
    text-align: center;
}

.bottom-footer__list {
    list-style: none;
}

.bottom-footer__link {
    text-decoration: underline;
}

.bottom-footer__link_current {
    text-decoration: none;
}

.social-links {
    display: flex;
    gap: 48px;
    justify-self: end;
    list-style: none;
}

.social-links__icon {
    height: 48px;
    width: 48px;
}